@using Components
@page "/"

<head>
</head>

<body>
    <WEBApp.Components.NavBar></WEBApp.Components.NavBar>
    <WEBApp.Components.Searchbar></WEBApp.Components.Searchbar>
    <WEBApp.Components.MainGrid></WEBApp.Components.MainGrid>
</body>

<style>
    html {
        background-color: #FFF3E2;
    }
</style>