<div class="ButtonContainer">
    <div class="Button" @onclick="DeleteTeam" disabled="@(team == null)">
        Delete
    </div>
</div>

@code {
    [Parameter]
    public Team team { get; set; }

    private async Task DeleteTeam()
    {
        if (team == null)
        {
            Console.WriteLine("Team is null.");
            return;
        }

        var response = await HttpClient.DeleteAsync("http://localhost:8888/del/team/" + team.Name);

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Team deleted.");
            NavigationManager.NavigateTo("/");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            Console.WriteLine("Team not found.");
        }
        else
        {
            Console.WriteLine("An error occurred while deleting the team. Status Code: " + response.StatusCode);
        }
    }
}

<style>
    .ButtonContainer {
        width:25%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:12.5px;
    }

    .Button {
        background: -moz-linear-gradient(left,#FA9884, #E74646);
        border-radius: 8px;
        width: 100%;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Button:hover{
            transition-property: filter;
            transition-duration: 0.33s;
            filter: invert(100%);
    }
</style>