<div class="ButtonContainer">
    <div class="Button" @onclick="DeleteTeam">
        Delete
    </div>
</div>

@code {
    private Team team;

    private async Task DeleteTeam()
    {
        var url = $"http://localhost:8888/del/team/{team.Name}";

        var response = await HttpClient.DeleteAsync(url);

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Team deleted.");
            NavigationManager.NavigateTo("/");
        }
        else
        {
            Console.WriteLine("An error occurred while deleting the team. Status Code: " + response.StatusCode);
        }
    }
}

<style>
    .ButtonContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 15px;
    }

    .Button {
        background-color: #EDC6B2;
        width: 100px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        border-radius:4px;
    }
</style>