<div class="Button" @onclick="DeleteTeam">
	Delete
</div>

<style>
	.Button{
		background-color:#EDC6B2;
		width: 100px;
		height: 50px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>

@code {
    private Team team;
    private async Task DeleteTeam()
    { 
        var client = new HttpClient();
        var url = $"http://localhost:8888/del/team/{team.Name}";

        var response = await client.DeleteAsync(url);

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Team deleted.");
            NavigationManager.NavigateTo("/");
        }
        else
        {
            Console.WriteLine("An error occurred while deleting the team. Status Code: " + response.StatusCode);
        }
    }
}