<div class="Navbar">
    <div class="Navbar-left">
        <a href="/" class="navbar-link">
            Home
        </a>
    </div>
    <div class="Navbar-right">
        <a class="navbar-link">Team-API</a>
    </div>
    <div class="Navbar-right">
        <a href="https://www.counter-strike.net/" class="navbar-link">
            <img src="CSGO.jpg" alt="CSGO icon" class="navbar-icon">
        </a>
        <a href="https://github.com/ThisIsCed/CSGO-TEAM-API" class="navbar-link">
            <img src="Github.png" alt="Github icon" class="navbar-icon">
        </a>
    </div>
</div>

<style>
    .Navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: -moz-linear-gradient(left,#FA9884, #E74646);
        padding: 8px;
        display: flex;
        justify-content: space-between;
        z-index: 2;
    }

    .Navbar-left {
        display: flex;
        align-items: center;
    }

    .Navbar-right {
        padding-right: 10px;
        display: flex;
        align-items: center;
    }

    .navbar-link {
        text-decoration: none;
        color: inherit;
        margin-right: 10px;
    }

    .navbar-icon {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    .Searchbar {
        position: relative;
        top: 50px; 
        z-index: 1; 
    }

    .MainGrid {
        margin-top: 25px;
        padding: 10px;
        z-index: 1; 
    }
</style>