<div class="Searchbar">
	<div class="search-input-container">
		<input type="text" class="search-input" @bind="searchText" placeholder="Search..." />
		<button type="button" class="search-button" @onclick="Search">Search</button>
	</div>
</div>

@code {
	private string searchText;
	private bool showMessage;
	private string message;

	private async Task Search()
	{
		var apiUrl = $"http://localhost:8888/team/{searchText}";

		var response = await HttpClient.GetAsync(apiUrl);
		if (response.IsSuccessStatusCode)
		{
			var json = await response.Content.ReadAsStringAsync();
			var team = JsonConvert.DeserializeObject<Team>(json);

			NavigationManager.NavigateTo($"/teamdetail/{searchText}");
		}
		else if (response.StatusCode == HttpStatusCode.NotFound)
		{
			Console.WriteLine("An error occurred while retrieving the team. Status Code: " + response.StatusCode);
		}
	}
}


<style>
	.search-bar {
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
	}

	.search-input-container {
		display: flex;
		align-items: center;
		background-color: #AAE1ED;
		border-radius: 4px;
		overflow: hidden;
		width: 400px;
		margin: 0 auto;
	}

	.search-input {
		flex: 1;
		padding: 5px;
		font-size: 14px;
		border: thick;
	}

	.search-button {
		padding: 5px 10px;
		background-color: #AAE1ED;
		color: #fff;
		border: thick;
		cursor: pointer;
	}

		.search-button:hover {
			background-color: #80D2E4;
		}
</style>